.Profile-Img{
    margin-top: 100px;
    margin-right: 100px;
   
}

.blue-shade{
    height: 65%;
    width: 65%;
    left: -20%;

}

.green-shade{
    height: 65%;
    width: 65%;
    left: -10%;
}
@media screen and (max-width: 768px) {
    .blue-shade{
        height: 45%;
        width: 70%;
        margin-bottom: 50%;
        margin-left: 30px;
}
    
    .green-shade{
        
        height: 55%;
        width: 85%;
        margin-bottom: 45%;
        margin-left: 50px;
    }
    .Image-bg{
        margin-top: -60%;
        margin-bottom: -20%;
    }
    .Image-bg2{
        margin-top: -10%;
        margin-bottom: -20%;
    }
}